# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage & build
coverage/
dist/

# Misc
*.tmp
*.swp
